<html xmlns:th="http://www.thymeleaf.org">
<div id="topbar" class="animate_150 clr_b2" th:fragment="topbar(user_id,userparam_id,user_zoom)">
	<a href="javascript:;" class="toggle_sidebar button left"><i class="fas fa-bars"></i></a>
	<a href="#" th:onclick="getFragmentAndChangeDiv('#content','/garantresult')" class="toggle_sidebar button size_is hide_xs hide_s hide_m hide_l left"><i class="fas fa-home"></i></a>
	<a href="#" th:onclick="getFragmentAndChangeDiv('#content','/garantresult')" class="logo size_is hide_xxs left" id="top_logo">ГАРАНТИЙКА</a>



	<!--ПАНЕЛЬ ПОИСКА - отключено пока не прописана привязка к поиску по всем данным-->

	<!--<form class="search left size_is hide_xs hide_xxs">
        <label class="fld" id="top_search">
            <div class="sign"><i class="fas fa-search"></i></div>
            <input type="text" name="password" class="clr_b4" placeholder="Поиск по всем данным" autocomplete="off" />
        </label>
    </form>-->

		<!-- If condition on user_id-->

			<!-- Our user case-->


		<ul class="nav right">
			<!--
        <li class="size_is hide_l hide_m hide_s">
            <a href="javascript:;" class="button toggle_dialog" data-dialog="launchpad"><i class="fas fa-search"></i></a>
        </li>

        <li>
			 <a href="javascript:;" class="button toggle_dialog" data-dialog="launchpad"><i class="fas fa-rocket"></i></a>

         </li>-->

         <li>
             <a href="javascript:;" class="button toggle_new_cb" th:data-toggle="'quick_options'" ><i class="fas fa-paint-brush"></i></a>
			 <form id="quick-options-id" th:class="'quick_options'+' hide_me'">
                 <div class="inner">
                     <strong>
                         Масштаб
                         <span class="current_zoom meta right">100%</span>
                     </strong>

                     <input type="range" min="0.8" max="1.4" step="0.1" th:value="${user_zoom}" class="inp_range" th:name="'user_theme_zoom_'+${user_id}" id="theme_zoom" />

                     <hr />

                     <strong>
                         Фон
                         <!--<a href="javascript:;" class="no_color meta right"><i class="fas fa-check"></i> Нет</a>-->
					</strong>
					 <input type="hidden" name="userparam_id" id="userparam_id" th:value="${userparam_id}">
					 <input type="hidden" name="user_id" id="user_id" th:value="${userp_id}">
					<div class="style colors clear_after">
						<a href="javascript:;" class="clr_1 left rds_5 active" data-color="1" th:name="'user_theme_color_'+${user_id}" th:value="'1'"><i class="fas fa-check"></i></a>
						<a href="javascript:;" class="clr_2 left rds_5" data-color="2"><i class="fas fa-check" th:name="'user_theme_color_'+${user_id}" th:value="'2'"></i></a>
						<a href="javascript:;" class="clr_3 left rds_5" data-color="3"><i class="fas fa-check" th:name="'user_theme_color_'+${user_id}" th:value="'3'"></i></a>
						<a href="javascript:;" class="clr_4 left rds_5" data-color="4"><i class="fas fa-check" th:name="'user_theme_color_'+${user_id}" th:value="'4'"></i></a>
						<a href="javascript:;" class="clr_5 left rds_5" data-color="5"><i class="fas fa-check" th:name="'user_theme_color_'+${user_id}" th:value="'5'"></i></a>
					</div>

					<hr />

					<strong>
						Паттерн
						<a href="javascript:;" class="no_pattern meta right active" th:name="'user_theme_pattern'+${user_id}" th:value="'0'"><i class="fas fa-check"></i> Нет</a>
					</strong>

					<div class="style patterns clear_after">
						<a href="javascript:;" class="pttrn_1 left rds_5" data-pattern="1" th:name="'user_theme_pattern_'+${user_id}" th:value="'1'"><i class="fas fa-check"></i></a>
						<a href="javascript:;" class="pttrn_2 left rds_5" data-pattern="2" th:name="'user_theme_pattern_'+${user_id}" th:value="'2'"><i class="fas fa-check"></i></a>
						<a href="javascript:;" class="pttrn_3 left rds_5" data-pattern="3" th:name="'user_theme_pattern_'+${user_id}" th:value="'3'"><i class="fas fa-check"></i></a>
						<a href="javascript:;" class="pttrn_4 left rds_5" data-pattern="4" th:name="'user_theme_pattern_'+${user_id}" th:value="'4'"><i class="fas fa-check"></i></a>
						<a href="javascript:;" class="pttrn_5 left rds_5" data-pattern="5" th:name="'user_theme_pattern_'+${user_id}" th:value="'5'"><i class="fas fa-check"></i></a>
					</div>
				</div>

				<div class="clear_after">
					<!--<a href="settings.php" class="bttn bttn_40 bttn_simple left" >Настройки</a>-->
					<a href="#" class="bttn bttn_40 bttn_simple left" >Настройки</a>

					<button type="submit" name="submit" class="bttn bttn_submit bttn_40 right" disabled="true">Сохранить</button>
					<!--<label class="radiocheck" href="#"
						   th:onclick="updateUsersetRequest([[${userparam_id}]],[[${user_id}]])">
						<a></a>

						<strong th:text="'Сохранить'">
						</strong>
					</label>-->

					<!--<button th:onclick="saveKSRequest([[${id_parent}]],[[${id_grand_parent}]],[[${contract_name}]],[[${counteragent_name}]])" name="addKS" value="addKS" class="bttn bttn_submit bttn_40 right rds_5" th:data-toggle="'addKS'" >Сохранить</button>

					<button type="submit" name="submit" class="bttn bttn_submit bttn_40 right" disabled="true">Сохранить</button>-->

					</div>

			</form>
		</li>
		<li>
			<a th:href="@{/logout}" class="button"><i class="fas fa-sign-out"></i></a>
		</li>
	</ul>

    <div class="clear"></div>
</div>