<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Container start-->
<div id="container">
    <!--/*@thymesVar id="usersDto" type="ru.aora.erp.presentation.entity.dto.user.UsersDto"*/-->
    <div class="wrapper" th:fragment="garantsorted" th:object="${ksSortDto}" >
        <div id="module">
            <!--header options start-->
            <div class="module_header size_is">
                <div class="container">
                    <div class="row">

                        <div class="col_xxs_12 col_xs_12 col_s_12 col_m_8 col_l_8">
                            <div class="module_title">СПИСОК ГАРАНТИЙНЫХ ПЛАТЕЖЕЙ</div>
                        </div>
                        <div class="col_xxs_12 col_xs_12 col_s_12 col_m_4 col_l_4">
                            <div class="module_actions">
                                <label class="switcher ttp_bt" title="Добавить в лаунчпад">
                                    <input type="checkbox" class="www" />

                                    <div class="signs">
                                        <i class="fas fa-rocket"></i>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--header options end-->


            <!--general container options start-->



            <div class="container">
                <div class="row">
                    <div class="col_xxs_12 col_xs_12 col_s_12 col_m_12 col_l_12">


                        <ul class="module_menu">
                            <form method="get">
                                <li>
                                    <div class="name">С отмеченными:</div>
                                </li>

                                <li>
                                    <select name="someselect">
                                        <option disabled>Выберите действие</option>
                                        <option data-display="&lt;i class=&quot;fas fa-archive&quot;&gt;&lt;/i&gt; Архивировать">Архивировать</option>
                                        <option data-display="&lt;i class=&quot;fas fa-trash-alt&quot;&gt;&lt;/i&gt; Удалить">Удалить</option>
                                    </select>
                                </li>

                                <li>
                                    <a href="#" class="toggle_cb" th:onclick="getFragmentAndChangeDiv('#content','/garantsorted')">Применить</a>
                                </li>
                            </form>
                        </ul>
                    </div>
                </div>
            </div>
            <!--general container options end-->

            <!--main cycle start-->

            <div class="module_content module_guarantee">
                <div class="container">
                    <div class="row">

                        <div  th:each="ks, iterstat : *{ksContractConteragents}">
                            <!-- If operator start-->
                            <div th:switch="${ks.ksStatus}">
                                <div th:case="false">
                                    <div class="col_xxs_12 col_xs_12 col_s_12 col_m_12 col_l_12">
                                        <div class="item clr_b2">
                                            <div class="title">
                                                <label class="radiocheck">
                                                    <input type="checkbox" class="www" />

                                                    <strong th:text="'Сумма гарантийного платежа составляет '+${ks.garantSum}+' руб.'"></strong>
                                                </label>

                                                <div class="more docs animate_150">
                                                    <a href="javascript:;"  th:text="'Дата возврата '+${ks.garantDate}"></a>
                                                    <a href="javascript:;" class="toggle_cb" th:data-toggle="'details_'+${ks.ksId}">Показать детали</a>
                                                </div>
                                                <a href="javascript:;" class="actions show_popover rds_full" th:data-popover="'actions_'+${ks.ksId}" data-popover-position="left">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </a>

                                                <div class="hide_me">
                                                    <div th:id="'actions_'+${ks.ksId}">
                                                        <ul class="popover_menu">
                                                            <li><a href="javascript:;"><i class="fas fa-paw"></i> <strong> <div th:text="'Справка КС-3 № '+${ks.ksNumber}"></div></strong></a></li>
                                                            <li><a href="#" class="toggle_cb" th:data-toggle="'KS_garant_edit_'+${ks.ksId}"><i class="fas fa-user-edit"></i> Изменить</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!--<a href="javascript:;" class="bookmark rds_full">
                                                    <i class="far fa-bookmark"></i>
                                                </a>

                                                <a href="javascript:;" class="actions show_popover rds_full" th:data-popover="'actions_'+${ks.ksId}" data-popover-position="left">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </a>

                                                <div class="hide_me">
                                                    <div th:id="'actions_'+${ks.ksId}">
                                                        <ul class="popover_menu">
                                                            <li><a href="javascript:;"><i class="fas fa-paw"></i> <strong> <div th:text="'Справка КС-3 № '+${ks.ksNumber}"></div></strong></a></li>
                                                            <li><a href="#" class="toggle_cb" th:data-toggle="'KS_edit_'+${ks.ksId}"><i class="fas fa-user-edit"></i> Изменить</a></li>
                                                            <li><a href="javascript:;" th:onclick="deleteElement('/Ks/',[[${ks.ksId}]])"><i class="fas fa-trash-alt"></i> Удалить</a></li>
                                                        </ul>
                                                    </div>
                                                </div>-->

                                                <div th:class="'details details_'+${ks.ksId}+' edit hide_me'">

                                                    <span><strong th:text="'Контрагент: '+${ks.conteragentName}"></strong></span>

                                                    <span><strong th:text="'Номер контракта '+${ks.contractNumber}"></strong></span>

                                                    <span><strong th:text="'Дата КС-3 '+${ks.ksDate}"/></span>

                                                    <span><strong th:text="'Сумма закрытая по КС-3 '+${ks.ksSum}"/></span>

                                                    <span><strong th:text="'КС № '+${ks.ksNumber}"/></span>

                                                    <span><strong th:text="'Дата погашения гарантийного платежа '+${ks.garantDate}"/></span>

                                                    <span><strong th:text="'Дней до погашения: '+${ks.daysToGarantDate}"></strong></span>

                                                    <span><strong>Статус гарантийного платежа: НЕ ПОГАШЕН</strong></span>

                                                    </label>

                                                </div>

                                                <!-- Edit KS start-->
                                                <div th:class="'KS_garant_edit_'+${ks.ksId}+' edit hide_me'" th:object="${ks}">
                                                    <div class="row no_gutter">
                                                        <div class="col_xxs_12 col_xs_12 col_s_12 col_m_12 col_l_12">
                                                            <a th:name="'KS_garant_edit_'+${ks.ksId}"></a>
                                                            <div class="KS_edit">
                                                                Изменение формы справки КС-3
                                                                <span> <a th:text="*{ksNumber}"></a></span>
                                                                <a href="javascript:;" class="toggle_cb"
                                                                   th:data-toggle="'KS_garant_edit_'+${ks.ksId}"><i class="far fa-times-circle"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="col_xxs_12 col_xs_12 col_s_12 col_m_6 col_l_6 push_m_3 push_l_3">

                                                            <div class="edit_basic"
                                                                 th:id ="'form_KS_garant_edit_'+${ks.ksId}"
                                                                 action="#"
                                                                 th:object="${ks}">
                                                                <label class="fld filler">
                                                                    <em>Дата справки КС-3</em>
                                                                    <div class="sign"><i class="fas fa-user"></i></div>
                                                                    <input type="date" class="inp"  th:id ="'ks_date_'+${ks.ksId}"  name="ks_date"  th:value="${ks.ksDate}" />
                                                                </label>
                                                                <label class="fld filler">
                                                                    <em>Номер справки КС-3</em>
                                                                    <div class="sign"><i class="fas fa-user"></i></div>
                                                                    <input type="text" class="inp" th:id ="'ks_number_'+${ks.ksId}" name="ks_number" th:value="${ks.ksNumber}"/>
                                                                </label>
                                                                <label class="fld filler">
                                                                    <em>Сумма по справке КС-3</em>
                                                                    <div class="sign"><i class="fas fa-user"></i></div>
                                                                    <input type="text" class="inp" th:id ="'ks_sum_'+${ks.ksId}" name="ks_sum" th:value="${ks.ksSum}"/>
                                                                </label>
                                                                <label class="fld filler">
                                                                    <em>Сумма гарантийного платежа</em>
                                                                    <div class="sign"><i class="fas fa-user"></i></div>
                                                                    <input type="text" class="inp" th:id ="'garant_sum_'+${ks.ksId}" name="garant_sum" th:value="${ks.garantSum}"/>
                                                                </label>
                                                                <label class="fld filler">
                                                                    <em>Дата возврата гарантийного платежа</em>
                                                                    <div class="sign"><i class="fas fa-user"></i></div>
                                                                    <input type="date" class="inp" th:id ="'garant_date_'+${ks.ksId}" name="garant_date" th:value="${ks.garantDate}"/>
                                                                </label>

                                                                <em>Статус гарантийного платежа</em>


                                                                <label class="radiocheck">
                                                                    <input th:type="radio" th:id="'payment_switcher_edit'+${ks.ksId}" th:name="'payment_switcher_edit_'" class="www" th:checked="'true'" th:value="'false'" />
                                                                    <strong>Не погашено</strong>
                                                                </label>
                                                                <label class="radiocheck">
                                                                    <input th:type="radio" th:id="'payment_switcher_edit'+${ks.ksId}" th:name="'payment_switcher_edit_'" class="www" th:checked="'false'" th:value="'true'" />
                                                                    <strong>Погашено</strong>
                                                                </label>



                                                                <div class="clear_after" th:id ="'KS_id_'+${ks.ksId}" th:value="${ks.ksId}">
                                                                    <button th:onclick="updateKSRequest([[${ks.ksId}]],[[${ks.contractId}]],[[${ks.conteragentId}]],[[${ks.contractNumber}]],[[${ks.conteragentName}]])" name="KS_garant_edit" value="KS_garant_edit" class="bttn bttn_submit bttn_40 right rds_5" th:data-toggle="'KS_garant_edit_'+${ks.ksId}">Сохранить</button>
                                                                    <a href="javascript:;" th:onclick="getFragmentAndChangeDiv('#content','/garantsorted')" class="bttn bttn_40 right rds_5 toggle_cb" th:data-toggle="'KS_garant_edit_'+${ks.ksId}">Закрыть</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!--Edit KS END-->

                                            </div>



                                        </div>
                                    </div>
                                </div>
                                <div th:case="true">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <!--main cycle end-->
        </div>

    </div>


    <div class="shadow top animate_150"></div>
    <div class="shadow bot animate_150"></div>

</div>



<!-- Container end -->


